// Type of font to use
// @font-face {
//   font-family: "Array-Regular";
//   src: url("../assets/fonts/Array_Complete/Fonts/WEB/fonts/Array-Regular.ttf")
//     format("truetype");
//   font-display: swap;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Halcom";
//   src: url("../assets/fonts/Halcom-Book-BF648a71455e035.otf") format("truetype");
//   font-display: swap;
//   font-style: normal;
// }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Variables globale for colors
:root {
  --background-light: #ffffff; // Color background (light mode)
  --text-dark: #010112; // Color text (dark mode)
  --background-dark: #000000; // Color background (dark mode)
  --text-light: #ffffff; // Color text (light mode)

  // Principal Font & Colors
  --font-1: "Array-Regular", sans-serif;
  --font-2: "Halcom", sans-serif;
  --title-1: #3498db;
  --color-1: #6180fb;
  --color-2: #fd643a;
  --color-3: #282c34;
  --white: rgb(243, 243, 243);
  --gradient: linear-gradient(to right, rgb(123, 16, 146), rgb(205, 217, 62));
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

// /* Scroll bar */
// html::-webkit-scrollbar {
//   width: 0.8vw;
// }
// html::-webkit-scrollbar-track {
//   background: var(--gradient); // Color of slide track
// }
// html::-webkit-scrollbar-thumb {
//   background: var(--color-3); // Color of slide button
//   border-radius: 50px;
// }

// Container for all the page content
.page-content {
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
  z-index: -1000;

  // Color background & text for light mode
  &.light-mode {
    background: var(--background-light);
    --text: var(--text-dark);
  }
  // Color background & text for dark mode
  &.dark-mode {
    background: var(--background-dark);
    --text: var(--text-light);
  }
  color: var(--text);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-3);
  color: var(--text);
  font-family: var(--font-1);
}

// Desactivate animations for users who prefer reduced motion
@media (prefers-reduced-motion: reduce) {
  .animated {
    animation: none;
    transition: none;
  }
}

// Responsive
@media screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
}
